@use "./../../utils/variables" as v;

.list {
  &__description {
    margin-right: 10px;

    &--completed {
      text-decoration: line-through;
      text-decoration-color: v.$color-primary--dark;
    }
  }
}
