@use "./utils/variables" as v;

.app {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  @media only screen and (min-width: v.$mq-md) {
    padding: 5% 25%;
  }
}
